#section1 {
  height: 100vh;
  position: relative;
  color: rgb(255, 255, 255)
}

#section2 {
  background-color: rgb(66, 66, 66);
  min-height: 100vh;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  padding-top: 20vh;
}

#classToCenterToolsIn{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.mdc-elevation--z2 {
  box-sizing: border-box;
  height: 40vh;
  width: 250px;
}

.projectHeader {
  padding-top: 0.5em;
}

#projectsHolder {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.col-md-2 {
  max-height: 40vh;
}

.rightProject {
  max-height: 20vh !important;
  transition: width 1s;
}

.rightProjectsSide {
  vertical-align: top;
  display: inline-block;
}

.rightProject:hover {
  width: 500px !important;
}

.leftProjectSide {
  vertical-align: top;
  margin-right: 2em;
  display: inline-block;
  transition: width 1s;
}

.leftProjectSide:hover {
  width: 500px !important;
}

img {
  max-height: 100vh;
  z-index: -1;
}

.mdc-elevation--z3 {
  height: 40vh;
  width: 250px !important;
  display: inline-block;
  vertical-align: top;
  margin: 5em;
}

#toolsSection {
  margin-right: 20vw;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}

#aboutcontainer {
  background-color: rgb(66, 66, 66);
  z-index: -1;
  width: 41.666667%;
  min-width: 30em;
  transition: width 1s;
  height: 100vh !important;
}

.row {
  min-height: 100vh;
}

#centered {
  top: 50vh;
  height: 20em;
  margin-top: -10em;
  padding-left: 10vw;
  position: absolute;
}

#githubLink {
  margin-top: 10px;
}

#codeImage {
  min-width: 100%;
  margin-left: -1em;
}

body {
  background-image: url("images/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
