#section1 {
    height: 100vh;
    position: relative;
}
#section2{
    position: absolute;
    top: 0;
    left: 40vw;
}
#section3 {
    background-color: rgb(66, 66, 66);
    min-height: 100vh;
    text-align: center;
    width: 100%;
    padding-top: 5vh;
}
#section4{
    background-color: rgb(66,66,66);
    text-align: center;
    padding-bottom: 20vh;
}

#classToCenterToolsIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project {
    box-sizing: border-box;
    height: 40vh;
    width: 300px;
    background-color: rgb(65, 65, 65);
    margin: 0 2em 2em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
    color: lightgray !important;
    text-decoration: none;
}
a:hover {
    color: gray !important;
    text-decoration: none !important;
}

.projectLanguageDiv {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

.projectHeader {
    padding-top: 0.5em;
}

#projectsHolder {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}



.rightProject {
    max-height: 18.75vh !important;
    position: relative;
}

.rightProjectsSide {
    vertical-align: top;
    display: inline-block;

}

.mdc-elevation--z3 {
    background-color: rgb(66,66,66);
     height: 40vh;
     width: 250px !important;
     display: inline-block;
     vertical-align: top;
     margin: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
 }
.leftProjectSide {
    vertical-align: top;
    display: inline-block;
    position: relative;
}


img {
    max-height: 100vh;
    z-index: -1;
}
@media only screen and (max-width:620px) {

    #section2 {
        top: 80vh;
        left: auto;

        height: 100vh;
        background-color: rgb(66,66,66);
    }
    #section3{
        margin-top: 80vh;
    }
}

#toolsSection {
    top: 30vh;
    left: 50vw;
    padding: 10vw;
    opacity: 0;
    transition: opacity 1s;
}


#aboutcontainer {
    background-color: rgb(66, 66, 66);
    z-index: -1;
    width: 41.666667%;
    min-width: 620px;
    transition: width 1s;
    height: 100vh !important;
    padding-left: 5em;
}


#centered {
    top: 40vh;
    position: absolute;
}

#githubLink {
    margin-top: 10px;
}


body {
    background-image: url("images/code.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: white !important;
}

html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
