#section1 {
  height: 100vh;
  position: relative;
  color: rgb(255, 255, 255)
}

#section2 {
  background-color: rgb(66, 66, 66);
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

img {
  max-height: 100vh;
  z-index: -1;
}

@@keyframes animation {
  from {
    margin-right: 0;
  }

  to {
    margin-right: -50vw;
  }
}
.mdc-elevation--z3{
  height: 40vh;
  max-width: 250px !important;
}

#githubLink{
  margin-top: 10px;
}

#toolsSection {
  margin-left: 42%;
  top: 40vh;
  height: 40vh;
  max-height: 20vh;
  margin-top: -20vh;
  padding-right: 20vh;
  width: 58%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;


}


#aboutcontainer {
  background-color: rgb(66, 66, 66);
  z-index: 2;
  width: 41.666667%;
  transition: width 1s;
}

.row {
  min-height: 100vh;
}

#centered {
  top: 50vh;
  height: 20em;
  margin-top: -10em;
  padding-left: 10vw;
  position: absolute;
}

#codeImage {
  min-width: 100%;
  margin-left: -1em;
}

body {
  background-image: url("images/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
